body{
text-align: center;
background-color: #011F3F;
}

.container-heading{
width: 80%;
margin:30px auto 60px;
}

.full-box{
text-align:center;
display: inline-block;
}

h1{
font-family: 'Press Start 2P', cursive;
font-size: 3rem;
color: #FEF2BF;
}

.bttn{
width: 180px;
height:180px;
border:10px solid black;
border-radius: 20%;
display: inline-block;
margin: 15px;
}

.green{
background-color: green;
}

.red{
background-color: red;
}

.yellow{
background-color: yellow;
}

.blue{
background-color: blue;
}

.pressed{
box-shadow: 0 0 20px white;
background-color: grey;
}

.game-over{
background-color: red;
opacity: 0.8;
}

.btn-lg{
padding:.4rem 3rem;
font-weight: 500;
border-radius: 15px;
margin-top: 3%;
}


/*Media Query Section*/

@media(max-width: 768px)
{
.container-heading h1{
font-size: 2.8rem;
}
}

@media(max-width: 499px)
{
.container-heading h1{
font-size: 1.5rem;
}

.bttn{
width: 100px;
height: 100px;
}

.btn-lg{
margin-top: 5%;
}
}
